/*---------------------------------------------
[$reset]
----------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

/*---------------------------------------------
// ENDS [$reset]
----------------------------------------------*/

/*---------------------------------------------
[$fonts]
----------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins:300,700");

/*---------------------------------------------
// ENDS [$fonts]
----------------------------------------------*/

/*---------------------------------------------
[$universal]
----------------------------------------------*/

body {
  font: 1em $body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }
}

/*---------------------------------------------
// ENDS [$universal]
----------------------------------------------*/

/*---------------------------------------------
[$site-header]
----------------------------------------------*/

.site-header {
  padding: 70px 0;
}

/*---------------------------------------------
// ENDS [$site-header]
----------------------------------------------*/

/*---------------------------------------------
[$site-nav]
----------------------------------------------*/

.site-nav {
  @include uppercase();
  font-size: 0.7em;

  li {
    display: inline-block;
    margin-right: 45px;
  }

  a {
    display: block;
  }
}

/*---------------------------------------------
// ENDS [$site-nav]
----------------------------------------------*/
